*{ /* resetear que vienen por default en en navegador*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{ /* declaramos variables para reutilizar los colores*/
    --color_texto:#5c3d5b;
    --color_elementos_fieldset:#4d3e6b;
    --color_fieldset_boton:#f07360;
}

header{
    display: flex; /* visualizacion en un contenedor flexible */
    justify-content: space-between; /* distribulle uniformemente los elementos a lo largo del contenedor  */
    padding: 10px;
}
#logo{
    width: 80px;
    height: auto; /* en automatico mantiene la porcion */
    margin: 20px 25px 20px 15px; /*top, right, bottom, left*/
}

nav>ul{
    list-style-type: none; /* se elimina los marcadores de lista*/
    display:flex;
    
}
/*elementos de la barra de navagacion*/
.elementos-vavegacion{
    margin: 20px 50px;
    font-size: 1.3em;
    font-family: "Arvo", serif;
    font-weight: 700;
    font-style: normal;
}
/*enlaces dentro de los elementos de la barra de navegacion*/
.elementos-vavegacion a{
    text-decoration: none;
    color: var(--color_texto);
}

.elementos-vavegacion a:hover{ /* uso de la pseudo-clave haver(al pasar el mause)*/
    color: #f07360;
    text-decoration:  underline overline;
}

h1{
    color: var(--color_texto);
    text-align: center;
}

form{
    margin: 0 auto;
    width: 70%;
    max-width: 800px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

fieldset{
    border-color: var(--color_fieldset_boton);
    border-radius: 1.2em;
    color: var(--color_elementos_fieldset);
    margin: 20px;
}

legend{
    text-align: left;
    font-size: 1.6em;
}
  /*pseudo elemento*/

legend::first-letter{
    color: var(--color_fieldset_boton); /* establece el color de la primera letra utilizado la variable definida*/

}
#datos-basicos,
#datos-pedido,
#datos-envio{
    padding: 30px 50px;
}

#datos-basicos label,
#datos-pedido label{
    display: block;
}

#datos-basicos input,
#datos-pedido input{
    border: 3px solid var(--color_elementos_fieldset);
    width: 200px;
    height: 3opx;
}

/*estilo a campos de entrada cuando esten focos */

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus{
    outline: none;
    box-shadow: 5px 3px var(--color_elementos_fieldset);
}

#datos-pedido select[name="opciones-postre"]{
    width: 200px;
    height: 30px;
    border: 3px solid var(--color_elementos_fieldset);
}

#datos-envio label{
    display: inline-block;
    padding: 2px;
    margin: 4px;
}

.terminos{
    margin: 20px;
    color: var(--color_elementos_fieldset);
    float: left;
}

button[type="submit"]{
    width: 120px;
    height: 20px;
    float: right;
    color: var(--color_elementos_fieldset);
    background-color: var(--color_fieldset_boton);
    border: 2px solid var(--color_elementos_fieldset);

}

button:active{
    transform: scale(0.90); /* Reducir ligeramente el tañaño del botón cuando se active */
}